<html>
    <head>
        <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">

        <style>
            html {
                font-size: 22px;
            }
            body {
                margin: 0;
                padding: 15px;
                font-size: 1rem;
                line-height: 1;
            }
        </style>
    </head>

    <body>
        <h1>{% if aluno %} Editar Aluno {% else %}  Cadastro de Aluno {% endif %}</h1>

        <form method = "post" action = "{{ form_action if form_action else '/alunos/novo' }}" >
            Nome: <input type = "text" name = "nome" value = "{{ aluno[1] if aluno else '' }}"><br><br>
            Telefone: <input type = "text" name = "telefone" value = "{{ aluno[2] if aluno else '' }}"><br><br>
            Plano: <input type = "text" name = "plano" value = "{{ aluno[3] if aluno else '' }}"><br><br>
            Ativo ? <input type = "checkbox" name = "esta_ativo" value = "{% if aluno and aluno[5] %}checked{% endif %}"><br><br>

            <button type = "submit">Salvar</button>
            <a href = "/">Voltar ao Inicio</a>
        </form>
    </body>

</html>
