<html>
    <head>
        <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
        
        <style>
            html {
                font-size: 22px;
            }
            body {
                margin: 0;
                padding: 15px;
                font-size: 1rem;
                line-height: 1;
            }  
        </style>
    </head>
    
    <body>
		<h2>Registrar Despesa</h2>
		
		<form method="post" action="{{ form_action if form_action else '/despesa' }}">
			Data: <input type="date" name="data" value="{{ despesa[1] if despesa else '' }}"><br><br>
			Tipo: <input type="text" name="tipo" value="{{ despesa[2] if despesa else '' }}"><br><br>
			Categoria: <input type="text" name="categoria" value="{{ despesa[3] if despesa else '' }}"><br><br>
			Valor: <input type="number" step="0.01" name="valor" value="{{ despesa[4] if despesa else '' }}"><br><br>
			Pago: <input type="checkbox" name="pago" value={{ despesa[6] if despesa else false }}"><br><br>
			Observação: <input type="text" name="observacao" value="{{ despesa[5] if despesa else '' }}"><br><br>
		
			<button type="submit">Salvar</button>
			
			<a href="/">Voltar ao Inicio</a>
		</form>
	</body>
</html>





		
