<html>
    <head>
        <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
        
        <style>
            html {
                font-size: 18px;
            }
            body {
                margin: 0;
                padding: 00px;
                font-size: 1rem;
                line-height: 1.5;
            }  
        </style>
    </head>
    
    <body>

		<h2>Registrar Fechamento</h2>
		
		<form method = "post">
			Data: <input type="date" name="data"><br><br>
			Faturamento: <input type="number" step="0.01" name="faturamento"><br><br>
			Frequência: <input type="number" name="frequencia"><br><br>
			Observação: <input type="text" name="observacao"><br><br>
		
			<button type="submit">Salvar<button>
		</form>
	</body>
</html>




				
