<html>
    <head>
        <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
        
        <style>
            html {
                font-size: 22px;
            }
            body {
                margin: 0;
                padding: 15px;
                font-size: 1rem;
                line-height: 1;
            }  
        </style>
    </head>
    
    <body>

		<h2>Registrar Fechamento</h2>
		
		<form method = "post" action = "{{ form_action if form_action else '/fechamento' }}">
			Data: <input type="date" name="data" value="{{ fechamento[1] if fechamento else '' }}"><br><br>
			Faturamento: <input type="number" step="0.01" name="faturamento" value="{{ fechamento[2] if fechamento else ''}}"><br><br>
			Frequência: <input type="number" name="frequencia" value="{{ fechamento[3] if fechamento else '' }}"><br><br>
			Observação: <input type="text" name="observacao" value="{{ fechamento[4] if fechamento else '' }}"><br><br>
		
			<button type="submit">Salvar</button>
			<a href="/">Voltar ao menu</a>
		</form>
	</body>
</html>




				
