<html>
  
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    
    <style>
            html {
				font-size: 21px;
			}
			body {
				padding: 15px;
				font-size: 1rem;
			}
			table {
				
				border-collapse: collapse;
				table-layout: fixed;
			}

		</style>  </head>


  <body>
    <h1>Lista de alunos cadastrados</h1><br><br>

    {% if lista %}
    <div class="table-container">
      <table>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Plano</th>
          <th>Data Matricula</th>
          <th>Ativo ? </th>        
        </tr>      
        
        {% for lista in lista %}
        <tr>
          <td>{{ lista[0] }}</td>
          <td>{{ lista[1] }}</td>
          <td>{{ lista[2] }}</td>
          <td>{{ lista[3] }}</td>
          <td>{{ lista[4] }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}      
    </div>
    <br><br>
      
    <a href="/">Voltar ao Inicio</a><br><br>
  </body>

  
</html>
