<html>
  <head>
    <meta name="viewport" content = "width=device-width, initial-scale = 1.0">
    <style>
      html {
        font-size: 22px;
      }
      body {
        margin: 0;
        padding: 15px;
        font-size:  1rem;
        line-height: 1;
      }        
    </style>    
  </head>

  <body>
    <h2>Registrar Mensalidade</h2>
  
    <form method="post">
      Aluno:
      <input type="text" id="buscaAluno" list="lista_alunos" placeholder="Digite o nome do aluno" autocomplete="off">
      <input type="hidden" name="aluno_id" id="aluno_id">
      
      <datalist id="lista_alunos">
        {% for aluno in alunos %}
          <option value="{{ aluno[0] }}"|"{{ aluno[1] }}">           
          </option>
        {% endfor %}
      </datalist>    
      <br><br>

      Data do Pagamento:
      <input type="date" name="data_pagamento" value = "{{ hoje }}">
      <br><br>

      Valor
      <input type="number" step = "0.01" name = "valor">
      <br><br>
      
      Competencia:
      <input type="month" name="mes_referencia" value="{{ competencia }}">

      Observação:
      <input type="text" name="observacao">
      <br><br>

      <button type="submit">Salvar</button>
      <a href="/financeiro">Voltar</a>
      
    </form>

    <script>
        const inputBusca = document.getElementById("buscaAluno");
        const campoAlunoId = document.getElementById("aluno_id");

        inputBusca.addEventListener("input", function() {
          const texto = this.value.trim();
          if (texto.includes("|") {
            campoAlunoId.value = texto.split("|")[0];
          } 
          else {
            campoAlunoId.value = "";
          }
        };
    </script> 
  </body> 
</html>
